{% extends "base.html" %}

{% block content %}
    <div class="cart-container">
        <div class="cart-header">
            <h1>Your Shopping Cart</h1>
            <p class="cart-count">{{ cart_items|length  }} Items</p>
        </div>

           {% if cart_items %}
            <div class="cart-items">
                {% for item in cart_items %}
                <div class="cart-item">
                    <p><strong>{{ item.name }}</strong></p>
                    <p>Price: ${{ "%.2f" % item.price }} / dozen</p>
                    <p>Quantity: {{ item.quantity }} dozen(s)</p>

                </div>
                {% endfor %}
            </div>

            <div class="cart-items">
                <h2 class="total">Total: ${{ "%.2f" % total }}</h2>
                <a href="{{ url_for('checkout') }}" class="checkout-btn" target="_blank">Checkout</a>
            </div>
        {% else %}
        <div class="empty-cart">
            <i class="fas fa-shopping-basket"></i>
            <h2>Your cart is empty</h2>
            <p>Looks like you haven't added any cookies to your cart yet!</p>
            <a href="{{ url_for('products') }}" class="browse-cookies-btn">
                Browse Our Cookies <i class="fas fa-cookie-bite"></i>
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}
